<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <h1>HOME</h1>
    {% if user_id %}
    {{ user_id }}<a>님</a>
    <button type="button" onclick="location.href='/game' ">게임 시작</button> 
    <button type="button" onclick="location.href='/logout'">로그 아웃</button>
    {% else %}
        <button type="button" onclick="location.href='/login'">로그인</button>
        <button type="button" onclick="location.href='/register'">회원가입</button>
    {% endif %}

</body>
</html>