.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #058EA3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-head {
  position: absolute;
  top: 20%;
  left: 2%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(39px + 4vmin);
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-wrap {
  width: 100%;
  margin: 10px auto;
  position: relative;
}

.App-thema {
  width: 100%;
  vertical-align: middle;
  position: relative;
}


.App-Login {
  /* background-color: azure; */
  position: absolute;
  vertical-align: middle;
  top: 45%;
  left: 2%;
  width: 100%;
  height: 20%;
}

.App-bg {
    /* background-image: url(/Users/yunrry/Desktop/hand-hive/rock-cissor-paper/src/assets/thema.png); */
    width: 600;
}

.Home-button{
    position: absolute;
    vertical-align: middle;
    top: 68%;
    left: 48%;
   

}

.Join-form{
  background-color: rgba(200, 230, 240, 0.5);
  position: absolute;
  vertical-align: middle;
  padding: 10px;
  padding-top: 16%;
  color: black;
  text-align: center;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 80%;
}
  

.Start-cam{
  background-color: rgba(200, 230, 240, 0.5);
  vertical-align: left;
  padding: 10px;
  padding-top: 16%;
  color: black;
  text-align: center;
  top: 5%;
  left: 15%;
  width: 600px;
  height: 300px;
}
  
  
 
